@media (max-width:320px) {
    .box-1{
        margin-top: 50px;
    }
    .box-2{
        margin-top: 50px;
    }
    .box-7{
        margin-top: 5px;
    }
}
@media (max-width:375px) {
    .box-1{
        margin-top: 50px;
    }
    .box-2{
        margin-top: 50px;
    }
    .box-7{
        margin-top: 5px;
    }
}